<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Algothon 2021 - Leaderboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/index.css') }}">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <!-- <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'> -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='/img/logo21_large.svg') }}">
</head>
<body>
<div class="title">
    <img class="logo" src="{{ url_for('static', filename='/img/logo21_large.svg') }}" alt="logo pic"/>
    <br>
    <br>
    <h1>ALGOTHON Virtual @ Aspect Capital</h1>
    <br>
    <h3>Leaderboard</h3>
    <br>
</div>
<div class="leader-board table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Ranking</th>
            <th>Team</th>
            <th>Public Score</th>
            <th>Private Score</th>
            <th>More Info</th>
        </tr>
        </thead>
        <tbody>
        {%for i in range(len)%}

        <tr>
            {%if i + 1 == 1 %}
            <td>
                <div class="rank-one">
                    {{i + 1}}
                </div>
            </td>
            {%elif i + 1 == 2 %}
            <td>
                <div class="rank-two">
                    {{i + 1}}
                </div>
            </td>
            {%elif i + 1 == 3 %}
            <td>
                <div class="rank-three">
                    {{i + 1}}
                </div>
            </td>
            {%elif i + 1 > 50 %}
            <td>
                50
            </td>
            {% else %}
            <td>
                {{i + 1}}
            </td>
            {% endif %}
            <td>{{top_50_teams.loc[i, "team"]}}</td>
            <td>{{top_50_teams.loc[i, "public"]}}</td>
            <td>{{top_50_teams.loc[i, "private"]}}</td>
            <td>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target='{{"#model" + i|string}}'>
                    More info
                </button>
            </td>
        </tr>
        <div class="modal fade" id='{{"model" + i|string}}' tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Challenge Scores</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {%for challenge in challenges%}
                        {%if 'Execution' == challenge %}
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-3">{{challenge}}</div>
                                    {% if top_50_teams.loc[i, challenge] == -1 %}
                                    <div class="col-sm-3">Metric: N/A</div>
                                    {% else %}
                                    <div class="col-sm-3">Metric: {{top_50_teams.loc[i, challenge]}}</div>
                                    {% endif %}
                                    <div class="col-sm-3">Pub Rank: {{top_50_teams.loc[i, challenge + " - rank"]}}</div>
                                    <div class="col-sm-3">Pub Adj Rank: {{top_50_teams.loc[i, challenge + " - rank_score"]}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-4">Priv Rank: {{top_50_teams.loc[i, challenge + " - rank(private)"]}}
                                    </div>
                                    <div class="col-sm-4">Priv Adj Rank: {{top_50_teams.loc[i, challenge + " - rank_score(private)"]}}
                                    </div>
                                </div>

                            </div>
                        </div>
                        {% else %}
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-3">{{challenge}}</div>
                                    {% if top_50_teams.loc[i, challenge + " - public"] == -1 %}
                                    <div class="col-sm-3">Metric: N/A</div>
                                    {% else %}
                                    <div class="col-sm-3">Metric: {{top_50_teams.loc[i, challenge + " - public"]}}</div>
                                    {% endif %}
                                    <div class="col-sm-3">Pub Rank: {{top_50_teams.loc[i, challenge + " - rank"]}}</div>
                                    <div class="col-sm-3">Pub Adj Rank: {{top_50_teams.loc[i, challenge + " - rank_score"]}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    {% if top_50_teams.loc[i, challenge + " - private"] == -1 %}
                                    <div class="col-sm-4">Private Metric: N/A</div>
                                    {% else %}
                                    <div class="col-sm-4">Private Metric: {{top_50_teams.loc[i, challenge + " - private"]}}
                                    </div>
                                    {% endif %}
                                    <div class="col-sm-4">Priv Rank: {{top_50_teams.loc[i, challenge + " - rank(private)"]}}
                                    </div>
                                    <div class="col-sm-4">Priv Adj Rank: {{top_50_teams.loc[i, challenge + " - rank_score(private)"]}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}

        </tbody>
    </table>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</html>
